{block #content}
<h1>Kontakt</h1>
<div class="breadcrumb">
    <a href="{link Homepage:default}">Úvod</a> &raquo; <a class="current">Kontakt</a>
</div>

<div class="mycontact">
    <h2>Adresa</h2>
    <div class="data">
        JohnDoe <br />
        Bočková 33 <br />
        Košice <br />
        040 01 <br />
    </div>
    <div class="contact-1">
        {control contactForm}
    </div>
</div>

<div class="gmap-1">
{control gMap}
</div>


<br clear="all" />